# Backend API Base URL
NEXT_PUBLIC_API_URL="https://erp-software-backend-ubdi.onrender.com"

# Optional Cloudinary Cloud Name for direct client-side optimization
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
